<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CedarTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>CedarTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Spellchecker.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>7F430C22177BBB4200BB342F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F430C38177C863700BB342F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F430C52177C86C700BB342F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7F430C6C177C87CD00BB342F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
